@charset "utf-8";
/* Default */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
/*@font-face {
    font-family:'NanumGothic';
    src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumGothic.woff') format('woff'),
        url('../font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'NanumSquare';
    src: url(../font/NanumSquareR.eot);
    src: url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareR.woff) format('woff'),
        url(../font/NanumSquareR.ttf) format('truetype');
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Nanum Gothic", "나눔고딕", 'MalgunGothic',"맑은고딕",'HelveticaNeue', 'Helvetica',sans-serif; 
    font-size: 13px;
    line-height: 1;
}

img {
    border: none;
}
a,
a:hover,
a:active {
    text-decoration: none;
}
ol ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.font_square{
    font-family:'NanumSquare',sans-serif;
}
/* //Default */
/* Layout */
.wrapper{
    max-width: 640px;
    height: 839px;
}
#wrapper {
    max-width:640px;
    height:645px;
    margin:0 auto;
    padding:0;
    background:#000;
    box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
    -webkit-box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
    -moz-box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
}


.container {
    max-width:640px;
    height:762px;
    margin:0 auto;
    background:#4f698a;
}


/* top */
.container .top {
    max-width:640px;
    min-height:63px;
    margin:0 auto;
    background:#4f698a;
    /*background:#5686ce;*/
}
.container .top .title{
    width:570px;
    height:auto;
    margin:0 auto;
    text-align:center;
    padding-top:20px;
}
.container .top .title h1{
    width:200px;
    height:auto;
    margin:0 auto;

}
.container .top .window_close_icon{
    width:30px;
    height:26px;
    float:right;
    margin-top:-38px;
    margin-right:4px;
}
/* top */


/* main */
.container .main {
    max-width:620px;
    height:611px;
    margin:0 auto;
    margin-top:10px;
    background:#fff;
    box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
    -webkit-box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
    -moz-box-shadow: 4px 10px 28px -8px rgba(0,0,0,0.20);
}
.container .main .content{
    max-width:548px;
    height:570px;
    margin:0 auto;
    /*background:#85f14b;*/
}
.container .main .content .con_box{
    width:548px;
    height:auto;
    float:left;
    background:#fff;
}
/*cmj 2017-07-18*/
.container .main .content .point_area{
    width:24px;
    height:auto;
    float:left;
    padding-top:30px;
    padding-bottom:20px;
    background:#fff;
    margin-right: 10px;
}
/*cmj 2017-07-18*/
.container .main .content .text_area{
    width:620px;
    height:auto;
    float:left;
    padding-left:4px;
    padding-top:27px;
    padding-bottom:27px;
}
.container .main .content .icon_area{
    width:60px;
    height:auto;
    float:right;
}
.container .main .content .text_area_resize{
    width:524px;
    height:auto;
    float:left;
    padding-left:4px;
    padding-top:20px;
    padding-bottom:20px;
    /*background:#dbdbbd;*/
}

/*1024추가내용*/
.fc_b {
    color:#1478c8;
}
.mt_13{
    margin-top:13px;
    display:inline-block;
    line-height:1.6;
}
.con_box_img{
    width:548px;
    height:400px;
    /*background:#dbdbdb;*/
    margin:0 auto;
    padding-top:10px;
}
.container .main .content .text_area_resize .app_down_icon{
    float:right;
}
.s_android_btn_area {
    width:127px;
    height:28px;
    float:left;
    background: url(../../images/newNotice/s_android_down_btn.png) 0px no-repeat;
    border-radius:3px;
}
.s_android_btn_area:hover{
    background: url(../../images/newNotice/s_android_down_hover_btn.png) 0px no-repeat;           
}
.s_app_btn_area {
    width:127px;
    height:28px;
    float:left;
    background: url(../../images/newNotice/s_app_down_btn.png) 0px no-repeat;
    border-radius:3px;
}
.s_app_btn_area:hover{
    background: url(../../images/newNotice/s_app_down_hover_btn.png) 0px no-repeat;           
}
.container .main .content .btn_box{
    width:548px;
    height:auto;
    float:left;
    background:#fff;
    text-align:center;
}
.android_btn_area {
    width:267px;
    height:54px;
    float:left;
    background: url(../../images/newNotice/android_down_btn.png) 0px no-repeat;
    border-radius:3px;
}
.android_btn_area:hover{
    background: url(../../images/newNotice/android_down_hover_btn.png) 0px no-repeat;           
}
.app_btn_area {
    width:267px;
    height:54px;
    float:left;
    background: url(../../images/newNotice/app_down_btn.png) 0px no-repeat;
    border-radius:3px;
}
.app_btn_area:hover{
    background: url(../../images/newNotice/app_down_hover_btn.png) 0px no-repeat;           
}
/* main */


/*footer*/
.footer {
    max-width:640px;
    height:48px;
    margin: 0 auto;
    /* background:#aafdf6; */
}
.container .footer .content{
    max-width:548px;
    height:auto;
    margin:0 auto;
    /*background:#85f14b;*/
}
.check_area{
    width:190px;
    height:auto;
    float:left;
    margin-top:18px;
}
.close_area{
    width:60px;
    height:auto;
    float:right;
    margin-top:15px;
}

.footer .close_btn {
    width:60px;
    height:23px;
    margin: 0 auto;
    padding-top:3px;
    color:#ffffff;
    font-size:13px;
    text-align:center;
    background-color:#92969a;
}
.footer .close_btn:hover {
    background-color:#7f8386;
    cursor:pointer;
}
/*footer*/
/* //Layout */

/* style */
.main-nav,
.main-nav > li ul,
.social-networks,
.offers,
.awards ul,
.aside .schedule,
.pagination ul,
.widget .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:after,
.container:after,
#navigation:after,
.main-nav:after,
.product-item:after,
.blog-carousel:after,
.carousel:after {
    content: "";
    display: block;
    clear: both;
}

.ellipsis {
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
}

body {
    color: #313131;
    background: #fff;
    font: 14px / 1.2 "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

.gm-style img {
    max-width: none;
}


/*텍스트*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    margin: 0 0 .5em;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
}

h1,
.h1 {
    font-size:1.42em;
    font-weight:400;
}

h2,
.h2 {
    font-size: 1.2015em;
    text-transform: capitalize;
    line-height: 1.2;
    color: #525255;
    display:inline;
}

h3,
.h3 {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
}

h4,
.h4 {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.0;
}

h6,
.h6 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
h7,
.h7 {
    font-size: 14px;
    font-weight: 400;
    color: #727375;
}
.f_color_y{
    color:#ffc107;
}


.f_color_v{
    color:#7986CB;
}
.f_w_bold{
    font-weight:bold;
}

.f_color_g{
    color:#969698;
}
.f_color_f{
    color:#fff;
}
.f_color_b{
    color:#525255;
}
.f_color_blue{
    color:#5686ce;
}
.Italic{
    font-style:italic;
}

.l_spacing_small{
    letter-spacing:-1.7px;
}
.tc_f{
    color:#fff;
}
.line_h_middle{
    line-height:24px;
}
.align_l{
    text-align:left;
}

/*텍스트*/


a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #389c24;
}


/* form */
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    padding-bottom:4px;
    padding-right:15px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #000;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #a9abaf;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #a9abaf;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
    color: #a9abaf;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #a9abaf;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
    color: #a9abaf;
}

select {
    -webkit-border-radius: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
}


button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
    -webkit-transition: background .3s linear;
    transition: background .3s linear;
}

input[type="button"] {
    display: inline-block;
    padding: 10px;
    text-align: center;
    line-height: 1.2;
    -webkit-transition: background .3s linear;
    transition: background .3s linear;
}
/* form */

/* padding,margin */
.mt_20_anti {
    margin-top:-20px;
}
.mt_25_anti {
    margin-top:-25px;
}
.pt_8 {
    padding-top:7px;
}
.pt_20 {
    padding-top:20px;
}
.pb_15 {
    padding-bottom:15px;
}
.ml_12 {
    margin-left:12px;

}
.ml_5 {
    margin-left:5px;

}
.ml_27 {
    margin-left:27px;

}
.ml_42 {
    margin-left:42px;

}
.mr_12 {
    margin-right:12px;

}
.mt_10 {
    margin-top:10px;

}
.mt_15 {
    margin-top:15px;

}
.mt_25 {
    margin-top:25px;

}
.mt_48 {
    margin-top:48px;

}
.mt_67 {
    margin-top:67px;

}
.mb_10 {
    margin-bottom:10px;

}
.mb_22 {
    margin-bottom:22px;

}
.mb_30 {
    margin-bottom:30px;

}
.mb_67 {
    margin-bottom:67px;

}

/*
* 
*	joohang 2016_09_26
*	공지사항 글자 css 추가 
*/

.yellowLetter
{
    width:200px;
    height:auto;
    margin:0 auto;
    border-bottom:1px solid #ffc107;
    color:#ffc107;	
    font-size:1.42em;
    font-weight:400;
    font-family: inherit;
}
/*
* 
*	minji 2017_07_18
*	공지사항 추가 : 이용권 구매시 수수료 인하
*/
.container .main .content .text_area{
    width: 400px;
}
.container .main .content .icon_area01{
    width: 95px;
    margin-top: -69px;
    height: auto;
    float: right;    
}
.container .main .content .icon_area02{
    width: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    float: right;    
}
.point_area span img{
    width: 20px;
}
.tit_blue_sq{
    font-family: "nanumsquare";
    color:#239fdc;
    font-weight: 400;
    font-size: 1.9em;
    color:#333333;
}
.f_square{
    font-family: "nanumsquare";
}
.percent_before{
    display: inline-block;
   /* font-size: 1.2em;*/
    color: black;
    font-weight: 700;
    margin-left: -63px;
}
.percent_before img{
    position: relative;
    width: 65px;
    top: 5px;
    left: 67px;
}
.percent_now{
    display: inline-block;
    margin-left: 32px;
    margin-right: 10px;
    font-weight: 700;
    color: #e14938;
    font-family: tahoma;
    /*font-size: 1.2em;*/
}
.txt_event{
    display: block;
    background: url(../../images/newNotice/ico_calender.png) left center no-repeat;
    background-size: 12px;
    padding-left: 20px;
    margin-left: 25px;
    font-size: 0.9em;
}
.txt_gift{
    display: block;
    background: url(../../images/newNotice/ico_gift.png) left 3px no-repeat;
    background-size: 12px;
    line-height: 20px;
    margin-top: 5px;
    color: #e14938;
    padding-left: 20px;
    margin-left: 25px;
    font-size: 0.9em;/*
    padding-bottom: 20px;*/
}
.f_size_12{
    font-size: 1.2em;
}
.tit_black_sq{
    font-family: "nanumsquare";
    color:#333;
    font-weight: 500;
    font-size: 1.1em;
}
.txt_exp_partner{
    display: block;
    font-size: 0.65em;
    margin-top: 15px;
}
.container .main .content .con_box{
    float: inherit;
    text-align:center;
    padding-top:34px;
}
.con_box::after{
    clear: both;
    content: '';
    visibility: hidden;
    display: block;
    height: 1;
}
.icon_area_3step{
    text-align: center;
    margin-bottom: 20px;
}
.inquiry_area{
    margin-top: 0px;
}
.inquiry_area img{
    vertical-align: middle;
    width: 30px;
    margin-right: 10px;
}
.tit_inquiry_area{
    font-family: "nanumsquare";
    color: #239fdc;
    font-weight: 500;
    font-size: 1.5em;
}
.txt_exp_inquiry{
    display: block;
    font-size: 0.9em;
    margin-left: 45px;
    margin-top: 10px;
    color: #444;
}
.pt_20{
    padding-top: 20px;
}
/* //style */
/* 2017-07-28 segwit 내용 추가 style */
.tit_red_sq{
    font-family: "nanumsquare";
    color:#e14938;
    font-weight: 500;
    font-size: 1.1em;
}
.txt_lock_period{
    display: block;
    background: url(../../images/newNotice/ico_calender.png) left center no-repeat;
    background-size: 12px;
    padding-left: 20px;
    /**/
    margin-top: 20px;
    font-size: 0.9em;
}
.pl_25{
    padding-left: 25px;
}
.txt_caution{
    display: inline-block;
    color: #e14938;
    color:#888;
    font-size: 0.9em;
    margin-top: 10px;
    line-height: 1.3;
}
.container .main .content .text_area{
    padding-top: 16px;
    padding-bottom:  10px;
}
h2{
    font-size: 1em;
}
.container .main .content .point_area{
    padding-top: 15px;
}
.icon_area_3step img{
    width: 65%;
}
.container .main .content .mt-38{
    margin-top: -38px;
}
